<h3><%=flash[:missing_information]%></h3>

<h1> Add a Recipe: </h1>
<form method="POST" action="/recipes">
  <label>Recipe Name: </label>
  <input type="text" name="name">
  
  <br></br>
  <label>Recipe Ingredients and Quantities: </label><br>
  <textarea rows = "5" cols = "50" name = "ingredients"></textarea>
  
  <br></br>
  <label>Instructions: </label><br>
  <textarea rows = "5" cols = "50" name = "instructions"></textarea>
  
  <br></br>
  <input type="submit" value="submit">
</form>
