<h1> Add a Recipe: </h1>
<form method="POST" action="/recipes">
  <input type="text" name="name">
  <input type="text" name="ingredients">
  <input type="textarea" name="instructions">
  <input type="submit" value="submit">
</form>
