<h1> Add a Recipe: </h1>
<form method="POST" action="/recipes">
  <input type="text" name="name">
  <input type="text" name="ingredients">
  <textarea rows = "5" cols = "50" name = "instrutions">Enter instructions here...</textarea>
  <input type="submit" value="submit">
</form>
