<h1> Add a Recipe: </h1>
<form method="POST" action="/recipes">
  <label>Recipe Name: </label>
  <input type="text" name="name">
  
  <br></br>
  <label>Recipe Ingredients and Quantities: </label>
  <input type="text" name="ingredients">
  
  <br></br>
  <label>Instructions: </label><br>
  <textarea rows = "5" cols = "50" name = "instrutions">Enter instructions here...</textarea>
  
  <br></br>
  <input type="submit" value="submit">
</form>
