
<h3>You Have <%=@user.recipes.count%> Recipes: </h3>
<% if @recipes %>
  <% @recipes.each_with_index do |recipe, index| %>
   <%=index + 1%>. <a href="/recipes/<%=recipe.id%>"><%=recipe.name%><br></a>
  <%end%>
<%end%>

<h3><a href="/recipes/new">Add A New Recipe<br></a></h3>
