
<h3>You Have <%=@user.recipes.count%> Recipe(s): </h3>
<% if @recipes %>
  <% @recipes.each_with_index do |recipe, index| %>
   <%=index + 1%>. <a href="/recipes/<%=recipe.id%>"><%=recipe.name%><br></a>
  <%end%>
<%end%>

<br></br>
<form action="/recipes/new" method="get">
  <input type="submit" value="Add a New Recipe">
</form>

