<h1>Welcome, <%=@user.name%></h1>

<h3>Your Recipes: </h3>
<%@user.recipes.each do |recipe|%>
 <%=recipe.id%>. <a href="/recipes/<%=recipe.id%>"><%=recipe.name%><br></a>
<%end%>

<h3><a href="/recipes/new">Add A New Recipe<br></a></h3>
